In [12]:
import pandas as pd

In [34]:
file_path = "data/demographics/csv/Alcova-Heights.csv"
df = pd.read_csv(file_path, skiprows=2)
df

,Number,Percent,Number.1,Percent.1,Unnamed: 4
0,TOTAL POPULATION,"1,900",100.00%,"207,627",100.00%
1,Total Non-Hispanic or Latino,"1,445",76.10%,"176,245",84.90%
2,White alone,"1,105",58.20%,"132,961",64.00%
3,Black or African-American alone,89,4.70%,"17,088",8.20%
4,American Indian or Alaska Native alone,5,0.30%,394,0.20%
5,Asian alone,185,9.70%,"19,762",9.50%
6,Native Hawaiian or Pacific Islander Alone,-,0.00%,133,0.10%
7,Some other Race alone,5,0.30%,611,0.30%
8,Two or more Races,56,2.90%,"5,296",2.60%
9,Total Hispanic or Latino,455,23.90%,"31,382",15.10%
10,Age Distribution,NaN,NaN,NaN,NaN
11,Under 5 years,142,7.50%,"11,782",5.7%
12,5 to 17 years,220,11.60%,"20,844",10.0%
13,18 to 24 years,149,7.80%,"20,315",9.8%
14,25 to 34 years,390,20.50%,"57,402",27.6%
15,35 to 44 years,321,16.90%,"32,868",15.8%
16,45 to 54 years,310,16.30%,"25,717",12.4%
17,55 to 64 years,230,12.10%,"20,645",9.9%
18,65 to 74 years,90,4.70%,"10,086",4.9%
19,75 to 84 years,37,1.90%,"5,153",2.5%
20,85 years and over,11,0.60%,"2,815",1.40%
21,Sex,NaN,NaN,NaN,NaN
22,Male,931,49.00%,"103,501",49.80%
23,Female,969,51.00%,"104,126",50.20%
24,TOTAL HOUSEHOLDS,745,100.00%,"98,050",100.00%
25,Household Type,NaN,NaN,NaN,NaN
26,Family households:,432,58.00%,"41,607",42.4%
27,Husband-wife family,353,47.40%,"33,218",33.9%
28,Other family:,79,10.60%,"8,389",8.6%
29,"Male householder, no wife present",22,3.00%,"2,623",2.7%
30,"Female householder, no husband present",57,7.70%,"5,766",5.9%
31,Nonfamily households:,313,42.00%,"56,443",57.6%
32,Householder living alone,207,27.80%,"40,516",41.3%
33,Householder not living alone,106,14.20%,"15,927",16.20%
34,Household Size,NaN,NaN,NaN,NaN
35,1-person household,207,27.80%,"40,516",41.3%
36,2-person household,253,34.00%,"31,738",32.4%
37,3-person household,125,16.80%,"11,633",11.9%
38,4-person household,79,10.60%,"8,793",9.0%
39,5-person household,48,6.40%,"3,286",3.4%
40,6-person household,14,1.90%,"1,203",1.2%
41,7-or-more-person household,19,2.60%,881,0.90%
42,TOTAL HOUSING UNITS,784,100.00%,"105,404",100.00%
43,Occupied Housing Units,745,95.00%,"98,050",93.00%
44,Owner-Occupied,546,69.60%,"42,457",40.30%
45,Renter-Occupied,199,25.40%,"55,593",52.70%
46,Vacant Housing Units,39,5.00%,"7,354",7.00%

In [35]:
df.drop(df.columns[-2:], axis=1, inplace=True)
df

                                       Number Percent Number.1
0                            TOTAL POPULATION  1,900   100.00%
1                Total Non-Hispanic or Latino  1,445    76.10%
2                                 White alone  1,105    58.20%
3             Black or African-American alone     89     4.70%
4      American Indian or Alaska Native alone      5     0.30%
5                                 Asian alone    185     9.70%
6   Native Hawaiian or Pacific Islander Alone      -     0.00%
7                       Some other Race alone      5     0.30%
8                           Two or more Races     56     2.90%
9                    Total Hispanic or Latino    455    23.90%
10                          Age Distribution      NaN      NaN
11                              Under 5 years    142     7.50%
12                              5 to 17 years    220    11.60%
13                             18 to 24 years    149     7.80%
14                             25 to 34 years    390    20.50%
15                             35 to 44 years    321    16.90%
16                             45 to 54 years    310    16.30%
17                             55 to 64 years    230    12.10%
18                             65 to 74 years     90     4.70%
19                             75 to 84 years     37     1.90%
20                          85 years and over     11     0.60%
21                                        Sex     NaN      NaN
22                                       Male    931    49.00%
23                                     Female    969    51.00%
24                           TOTAL HOUSEHOLDS    745   100.00%
25                            Household Type      NaN      NaN
26                         Family households:    432    58.00%
27                        Husband-wife family    353    47.40%
28                              Other family:     79    10.60%
29          Male householder, no wife present     22     3.00%
30     Female householder, no husband present     57     7.70%
31                      Nonfamily households:    313    42.00%
32                   Householder living alone    207    27.80%
33               Householder not living alone    106    14.20%
34                            Household Size      NaN      NaN
35                         1-person household     207   27.80%
36                         2-person household     253   34.00%
37                         3-person household     125   16.80%
38                         4-person household      79   10.60%
39                         5-person household      48    6.40%
40                         6-person household      14    1.90%
41                 7-or-more-person household      19    2.60%
42                        TOTAL HOUSING UNITS     784  100.00%
43                     Occupied Housing Units     745   95.00%
44                             Owner-Occupied     546   69.60%
45                            Renter-Occupied     199   25.40%
46                       Vacant Housing Units      39    5.00%

In [36]:
df.columns = ['demographic', 'number', 'percent']
df

                                  demographic  number  percent
0                            TOTAL POPULATION  1,900   100.00%
1                Total Non-Hispanic or Latino  1,445    76.10%
2                                 White alone  1,105    58.20%
3             Black or African-American alone     89     4.70%
4      American Indian or Alaska Native alone      5     0.30%
5                                 Asian alone    185     9.70%
6   Native Hawaiian or Pacific Islander Alone      -     0.00%
7                       Some other Race alone      5     0.30%
8                           Two or more Races     56     2.90%
9                    Total Hispanic or Latino    455    23.90%
10                          Age Distribution      NaN      NaN
11                              Under 5 years    142     7.50%
12                              5 to 17 years    220    11.60%
13                             18 to 24 years    149     7.80%
14                             25 to 34 years    390    20.50%
15                             35 to 44 years    321    16.90%
16                             45 to 54 years    310    16.30%
17                             55 to 64 years    230    12.10%
18                             65 to 74 years     90     4.70%
19                             75 to 84 years     37     1.90%
20                          85 years and over     11     0.60%
21                                        Sex     NaN      NaN
22                                       Male    931    49.00%
23                                     Female    969    51.00%
24                           TOTAL HOUSEHOLDS    745   100.00%
25                            Household Type      NaN      NaN
26                         Family households:    432    58.00%
27                        Husband-wife family    353    47.40%
28                              Other family:     79    10.60%
29          Male householder, no wife present     22     3.00%
30     Female householder, no husband present     57     7.70%
31                      Nonfamily households:    313    42.00%
32                   Householder living alone    207    27.80%
33               Householder not living alone    106    14.20%
34                            Household Size      NaN      NaN
35                         1-person household     207   27.80%
36                         2-person household     253   34.00%
37                         3-person household     125   16.80%
38                         4-person household      79   10.60%
39                         5-person household      48    6.40%
40                         6-person household      14    1.90%
41                 7-or-more-person household      19    2.60%
42                        TOTAL HOUSING UNITS     784  100.00%
43                     Occupied Housing Units     745   95.00%
44                             Owner-Occupied     546   69.60%
45                            Renter-Occupied     199   25.40%
46                       Vacant Housing Units      39    5.00%

In [37]:
df.set_index('demographic', drop=True, inplace=True)
df.index.name = None
df

                                           number  percent
TOTAL POPULATION                           1,900   100.00%
Total Non-Hispanic or Latino               1,445    76.10%
White alone                                1,105    58.20%
Black or African-American alone               89     4.70%
American Indian or Alaska Native alone         5     0.30%
Asian alone                                  185     9.70%
Native Hawaiian or Pacific Islander Alone      -     0.00%
Some other Race alone                          5     0.30%
Two or more Races                             56     2.90%
Total Hispanic or Latino                     455    23.90%
Age Distribution                              NaN      NaN
Under 5 years                                142     7.50%
5 to 17 years                                220    11.60%
18 to 24 years                               149     7.80%
25 to 34 years                               390    20.50%
35 to 44 years                               321    16.90%
45 to 54 years                               310    16.30%
55 to 64 years                               230    12.10%
65 to 74 years                                90     4.70%
75 to 84 years                                37     1.90%
85 years and over                             11     0.60%
Sex                                           NaN      NaN
Male                                         931    49.00%
Female                                       969    51.00%
TOTAL HOUSEHOLDS                             745   100.00%
Household Type                                NaN      NaN
Family households:                           432    58.00%
Husband-wife family                          353    47.40%
Other family:                                 79    10.60%
Male householder, no wife present             22     3.00%
Female householder, no husband present        57     7.70%
Nonfamily households:                        313    42.00%
Householder living alone                     207    27.80%
Householder not living alone                 106    14.20%
Household Size                                NaN      NaN
1-person household                            207   27.80%
2-person household                            253   34.00%
3-person household                            125   16.80%
4-person household                             79   10.60%
5-person household                             48    6.40%
6-person household                             14    1.90%
7-or-more-person household                     19    2.60%
TOTAL HOUSING UNITS                           784  100.00%
Occupied Housing Units                        745   95.00%
Owner-Occupied                                546   69.60%
Renter-Occupied                               199   25.40%
Vacant Housing Units                           39    5.00%

In [38]:
df.T

,TOTAL POPULATION,Total Non-Hispanic or Latino,White alone,Black or African-American alone,American Indian or Alaska Native alone,Asian alone,Native Hawaiian or Pacific Islander Alone,Some other Race alone,Two or more Races,Total Hispanic or Latino,...,3-person household,4-person household,5-person household,6-person household,7-or-more-person household,TOTAL HOUSING UNITS,Occupied Housing Units,Owner-Occupied,Renter-Occupied,Vacant Housing Units
number,"1,900","1,445","1,105",89,5,185,-,5,56,455,...,125,79,48,14,19,784,745,546,199,39
percent,100.00%,76.10%,58.20%,4.70%,0.30%,9.70%,0.00%,0.30%,2.90%,23.90%,...,16.80%,10.60%,6.40%,1.90%,2.60%,100.00%,95.00%,69.60%,25.40%,5.00%